@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Londrina+Solid&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    position: fixed;
}
.container {
  width: 100%;
  overflow: visible;  
  background: linear-gradient(180deg, #2399FF -15.36%, #FFF 45.07%);
}

.container-allcontent {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    min-width: 375px;
    max-width: 450px;
    overflow: hidden;
}

/* TOP-------------------------------------------------------------*/
.container-clouds {
    width: 450px;;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    overflow: visible;
    position: absolute;
    top: -30px;
}

#nuvem-large {
    width: 180px;
    position: relative;
    right: 50px;
}

#nuvem-mid {
    width: 120px;
    position: relative;
    right: -310px;
}


#nuvem-small {
    width: 90px;
    position: relative;
    right: -40px;
}

.container-top-boxes {
    width: 100%;
    height: 200px;
    z-index: 5;
}

.top-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    margin-top: 30px;  
}

#top-box-age {
    width: 160px;
}

/*-------------------------------------------------------------*/
/* HERO--------------------------------------------------------*/
.container-hero {
    
}

.hero {
    width: 100%;
    height: 400px;
    z-index: 2;
    position: absolute;
    margin-top: -60px;
    margin-left: 60px;
}

#samuel {
    width: 300px;
}

.coin-large {
    z-index: 5;
    position: absolute;
    margin-top: -85px;
    margin-left: 15px;
}

#coin-large {
    width: 120px; 
}

.samuel-logo {
    z-index: 3;
    position: absolute;
    margin-top: 140px;
    margin-right: 20px;
    overflow: visible;
}

#samuel-logo {
    width: 430px; 
}

/*-------------------------------------------------------------*/
/* CARD-INFO---------------------------------------------------*/
.container-card-info {
    width: 100%;
    height: 400px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
 
}

.card-info {
    z-index: 2;
    position: absolute;
    width: 85%;
    height: 200px;
    border-radius: 13.658px;
    background: radial-gradient(50% 50% at 50% 50%, #EB0208 0%, #C10105 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Londrina Solid', Helvetica, sans-serif;
    color: #fff;
    margin-top: 50px;
}

.card-info-items h1{
    font-family: 'Londrina Solid';
    font-weight: 300;
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.rem;
}


.coin-small {
    width: 100%;
    position: absolute;
    z-index: 20;
    margin-top: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: end;
    overflow: visible;
}

#coin-small {
    width: 70px;
}

/*-------------------------------------------------------------*/
/* CARD-INFO---------------------------------------------------*/
.container-tube {
    width: 100%;
    z-index: 4;
    position: absolute;
    margin-top: 680px;
    display: flex;
    justify-content: center;
}

.tube {
    margin-right: 25px;
    width: 200px;
    height: 290px;
    overflow: visible;
}

#tube {
    width: 230px;
}

